<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="css/size.css" rel="stylesheet">
</head>
<body style="background: rgb(243,243,243); margin: 0 auto; max-width: 768px;">
    <nav class="navbar navbar-dark bg-dark bar">
        <a class="navbar-brand" href="#">Hey Dude</a>
    </nav>
    <div class="content-scroll">
<!--요안에만 채우시면됩니다.-->
    </div>
    <nav class="navbar navbar-dark bg-dark bar">
        <a class="navbar-brand" href="#">Hey Dude</a>
    </nav>
</body>
</html>
<script>


</script>
