<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
    <nav class="navbar navbar-dark bg-primary bar">
        <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
        <div>
            <!--<button type="button" onclick="SignOut()" class="btn btn-outline-success my-2 my-sm-0" style="border: none; color: white">Sign Out</button>-->
            <button type="button" onclick="PageToSignIn()" class="btn btn-outline-info my-2 my-sm-0" style="border: none; color: white">Sign In</button>
            <button type="button" onclick="PageToSignUp()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Up</button>
        </div>
    </nav>
    <div class="content-scroll">
<!--요안에만 채우시면됩니다.-->
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center">
    </nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/"
    }
    function PageToSignIn() {
        location.replace("/signin")
    }
    function PageToSignUp() {
        location.replace("/signup")
    }
</script>

<style>
    .nav-pills {
        font-size: larger;
    }
</style>
