<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views//views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
    <nav class="navbar navbar-dark bg-primary bar">
        <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
        <div>
            <button type="button" onclick="SignOut()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Out</button>
        </div>
    </nav>
    <div class="content-scroll" >
        <article class="container" >
            <div class="page-header" style="position: relative; overflow: hidden;">
                <br>
                <h2 align="center">My Page</h2>
                <hr>
            </div>
            <div class="list-group" id="myList" role="tablist" style="font-size: 1rem;">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="/profile/myProfile" role="tab">My Profile</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">User Info</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
            </div>
        </article>
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center">
        <ul class="nav nav-pills" style="font-size: larger;">
            <li class="nav-item">
                <a class="nav-link mdi mdi-home" href="/home"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-account-group" href="/userList"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-account-plus" href="/userAdd"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-comment" href="/chatList"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-account active" href="/mypage"></a>
            </li>
        </ul>
    </nav>

</body>
</html>
<script>
    function PageToHome() {
        location.href="/home"
    }
    function SignOut() {
        $.ajax({
            type:"GET",
            url: "/user/signout" ,
            data: {
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                location.reload();
            }
        });
    }
</script>

<style>
    .nav-pills {
        font-size: larger;
    }
</style>
