<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white; font-size: larger">Hey Dude</button>
    <div>
        <button type="button" onclick="SignOut()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Out</button>
    </div>
</nav>
<div class="content-scroll">
    <!--요안에만 채우시면됩니다.-->
    <div class="container" >
        <div class="page-header" style="position: relative; overflow: hidden;">
            <br>
            <h2 align="center">My Profile</h2>
            <hr>
        </div>
        <br>
        <div class='card'>
            <div class='firstinfo'>
                <img src='https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg'/>
                <div class='profileinfo'>
                    <h1>Tima</h1>
                    <h3>23, Turkey, Male</h3>
                </div>
                <div style="margin-left: 30%">
                    <button type='button' class='btn btn-success' style= 'height: fit-content;' disabled>play</button>
                </div>
            </div>
            <div class="custom-control custom-switch" style="margin-left: 3%; margin-top: 2px;" >
                <input type="checkbox" class="custom-control-input" checked id="active" name="active">
                <label class="custom-control-label" for="active" id="activeval">active</label>
            </div>
            <br>
            <div style="font-weight: bold; font-size: large;">
                <label>Interest</label>
            </div>
            <div class="form-group">
                <p class='bio'>Hi, I introduce myself, my name is tima, I like a soju, and ~~~</p>
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>What to do with</label>
            </div>
            <div class="input-group">
                <p class='bio'>Hi, I introduce myself, my name is tima, I like a soju, and ~~~</p>
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Introduce</label>
            </div>
            <div class="input-group">
                <p class='bio'>Hi, I introduce myself, my name is tima, I like a soju, and ~~~</p>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-light " style="background-color: #e3f2fd; justify-content: center;">
    <ul class="nav nav-pills" style="font-size: larger;">
        <li class="nav-item">
            <a class="nav-link mdi mdi-home" href="/home"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-group" href="/userList"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-plus" href="/userAdd"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-comment" href="/"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account" href="/mypage"></a>
        </li>
    </ul>
</nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/"
    }
    function SignOut() {
        location.href="/logout"
    }
    function PageToSignIn() {
        location.href="/signin"
    }
    function PageToSignUp() {
        location.href="/signup"
    }

    $('#active').on("click", function()
    {
        if($('#active').is(':checked')==true){
            var msg = "active";
            $("#activeval").html(msg);
        }else{
            var msg = "inactive"
            $("#activeval").html(msg);
        }
    })
</script>
