<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
    <div>
        <button type="button" onclick="SignOut()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Out</button>
    </div>
</nav>
<div class="content-scroll">
    <!--요안에만 채우시면됩니다.-->
    <article class="container" >
        <div class="page-header" style="position: relative; overflow: hidden;">
            <br>
            <h2 align="center">Set Profile</h2>
            <hr>
        </div>
        <br>
        <div class="userFace">
            <span class="editFace">
                <label for="fileButton">
                    <img id="myimage" src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg">
                </label>
                <label class="fileButtonIcon" for="fileButton">
                    <button type='button' id="plus" for="fileButton" class="btn btn-info mdi mdi-image-edit-outline" > Edit</button>
                </label>
            </span>
        </div>
        <div>
            <input type="file" id="fileButton" style="display: none;">
        </div>
        <br>
        <br>
        <div class="form" style="width: 100%; margin: auto; max-width: 430px;">
            <div style="font-weight: bold; font-size: large;">
                <label>Age (kor)</label>
            </div>
            <div class="form-group" style="display: flex; max-width: 340px;" >
                <input type="number" class="form-control" style= "width: 90%" id="age" name="age" onkeypress="return lengthCheckofExp(this)" maxlength="3">
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Major</label>
            </div>
            <div class="form-group">
                <label class="sr-only" for="major">Major</label>
                <input type='text' class='form-control' id='major' name='major' maxlength="30">
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Nationality</label>
            </div>
            <div class="form-group">
                <select class="btn btn-secondary dropdown-toggle" type="button" id="nationality" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="nationality">
                    <option value="">---- Select Nationality ----</option>
                    <option value="south korean">South Korean</option>
                    <option value="american">American</option>
                    <option value="argentinean">Argentinean</option>
                    <option value="australian">Australian</option>
                    <option value="austrian">Austrian</option>
                    <option value="bangladeshi">Bangladeshi</option>
                    <option value="barbadian">Barbadian</option>
                    <option value="barbudans">Barbudans</option>
                    <option value="batswana">Batswana</option>
                    <option value="belgian">Belgian</option>
                    <option value="belizean">Belizean</option>
                    <option value="beninese">Beninese</option>
                    <option value="bosnian">Bosnian</option>
                    <option value="brazilian">Brazilian</option>
                    <option value="cambodian">Cambodian</option>
                    <option value="canadian">Canadian</option>
                    <option value="chinese">Chinese</option>
                    <option value="colombian">Colombian</option>
                    <option value="cuban">Cuban</option>
                    <option value="czech">Czech</option>
                    <option value="dominican">Dominican</option>
                    <option value="dutch">Dutch</option>
                    <option value="egyptian">Egyptian</option>
                    <option value="ethiopian">Ethiopian</option>
                    <option value="french">French</option>
                    <option value="german">German</option>
                    <option value="ghanaian">Ghanaian</option>
                    <option value="greek">Greek</option>
                    <option value="honduran">Honduran</option>
                    <option value="hungarian">Hungarian</option>
                    <option value="icelander">Icelander</option>
                    <option value="indian">Indian</option>
                    <option value="indonesian">Indonesian</option>
                    <option value="iranian">Iranian</option>
                    <option value="iraqi">Iraqi</option>
                    <option value="irish">Irish</option>
                    <option value="israeli">Israeli</option>
                    <option value="italian">Italian</option>
                    <option value="japanese">Japanese</option>
                    <option value="kazakhstani">Kazakhstani</option>
                    <option value="kenyan">Kenyan</option>
                    <option value="kuwaiti">Kuwaiti</option>
                    <option value="malaysian">Malaysian</option>
                    <option value="mexican">Mexican</option>
                    <option value="monacan">Monacan</option>
                    <option value="mongolian">Mongolian</option>
                    <option value="moroccan">Moroccan</option>
                    <option value="nepalese">Nepalese</option>
                    <option value="new zealander">New Zealander</option>
                    <option value="ni-vanuatu">Ni-Vanuatu</option>
                    <option value="nicaraguan">Nicaraguan</option>
                    <option value="nigerien">Nigerien</option>
                    <option value="northern irish">Northern Irish</option>
                    <option value="norwegian">Norwegian</option>
                    <option value="omani">Omani</option>
                    <option value="pakistani">Pakistani</option>
                    <option value="paraguayan">Paraguayan</option>
                    <option value="peruvian">Peruvian</option>
                    <option value="polish">Polish</option>
                    <option value="portuguese">Portuguese</option>
                    <option value="russian">Russian</option>
                    <option value="salvadoran">Salvadoran</option>
                    <option value="saudi">Saudi</option>
                    <option value="scottish">Scottish</option>
                    <option value="singaporean">Singaporean</option>
                    <option value="slovakian">Slovakian</option>
                    <option value="slovenian">Slovenian</option>
                    <option value="south korean">South Korean</option>
                    <option value="spanish">Spanish</option>
                    <option value="swedish">Swedish</option>
                    <option value="swiss">Swiss</option>
                    <option value="taiwanese">Taiwanese</option>
                    <option value="thai">Thai</option>
                    <option value="togolese">Togolese</option>
                    <option value="tongan">Tongan</option>
                    <option value="tunisian">Tunisian</option>
                    <option value="turkish">Turkish</option>
                    <option value="ugandan">Ugandan</option>
                    <option value="ukrainian">Ukrainian</option>
                    <option value="uruguayan">Uruguayan</option>
                    <option value="uzbekistani">Uzbekistani</option>
                    <option value="venezuelan">Venezuelan</option>
                    <option value="vietnamese">Vietnamese</option>
                </select>
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Language</label>
            </div>
            <div class="form-group">
                <select class="btn btn-secondary dropdown-toggle" type="button" id="language1" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="language1">
                    <option value="">---- language ----</option>
                    <option value="Korean">Korean</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                    <option value="Chinese">Chinese</option>
                    <option value="German">German</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                    <option value="Afrikanns">Afrikanns</option>
                    <option value="Albanian">Albanian</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Armenian">Armenian</option>
                    <option value="Basque">Basque</option>
                    <option value="Bengali">Bengali</option>
                    <option value="Bulgarian">Bulgarian</option>
                    <option value="Catalan">Catalan</option>
                    <option value="Cambodian">Cambodian</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Croation">Croation</option>
                    <option value="Czech">Czech</option>
                    <option value="Danish">Danish</option>
                    <option value="Dutch">Dutch</option>
                    <option value="English">English</option>
                    <option value="Estonian">Estonian</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finnish">Finnish</option>
                    <option value="French">French</option>
                    <option value="Georgian">Georgian</option>
                    <option value="German">German</option>
                    <option value="Greek">Greek</option>
                    <option value="Gujarati">Gujarati</option>
                    <option value="Hebrew">Hebrew</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Hungarian">Hungarian</option>
                    <option value="Icelandic">Icelandic</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Irish">Irish</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Javanese">Javanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Latin">Latin</option>
                    <option value="Latvian">Latvian</option>
                    <option value="Lithuanian">Lithuanian</option>
                    <option value="Macedonian">Macedonian</option>
                    <option value="Malay">Malay</option>
                    <option value="Malayalam">Malayalam</option>
                    <option value="Maltese">Maltese</option>
                    <option value="Maori">Maori</option>
                    <option value="Marathi">Marathi</option>
                    <option value="Mongolian">Mongolian</option>
                    <option value="Nepali">Nepali</option>
                    <option value="Norwegian">Norwegian</option>
                    <option value="Persian">Persian</option>
                    <option value="Polish">Polish</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Punjabi">Punjabi</option>
                    <option value="Quechua">Quechua</option>
                    <option value="Romanian">Romanian</option>
                    <option value="Russian">Russian</option>
                    <option value="Samoan">Samoan</option>
                    <option value="Serbian">Serbian</option>
                    <option value="Slovak">Slovak</option>
                    <option value="Slovenian">Slovenian</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Swahili">Swahili</option>
                    <option value="Swedish">Swedish </option>
                    <option value="Tamil">Tamil</option>
                    <option value="Tatar">Tatar</option>
                    <option value="Telugu">Telugu</option>
                    <option value="Thai">Thai</option>
                    <option value="Tibetan">Tibetan</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Ukranian">Ukranian</option>
                    <option value="Urdu">Urdu</option>
                    <option value="Uzbek">Uzbek</option>
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="Welsh">Welsh</option>
                    <option value="Xhosa">Xhosa</option>
                </select>
                <select class="btn btn-secondary dropdown-toggle" type="button" id="level1" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="level1">
                    <option value="">---- level ----</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Native">Native</option>
                </select>
            </div>
            <div class="form-group">
                <select class="btn btn-secondary dropdown-toggle" type="button" id="language2" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="language2">
                    <option value="">---- language ----</option>
                    <option value="Korean">Korean</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                    <option value="Chinese">Chinese</option>
                    <option value="German">German</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                    <option value="Afrikanns">Afrikanns</option>
                    <option value="Albanian">Albanian</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Armenian">Armenian</option>
                    <option value="Basque">Basque</option>
                    <option value="Bengali">Bengali</option>
                    <option value="Bulgarian">Bulgarian</option>
                    <option value="Catalan">Catalan</option>
                    <option value="Cambodian">Cambodian</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Croation">Croation</option>
                    <option value="Czech">Czech</option>
                    <option value="Danish">Danish</option>
                    <option value="Dutch">Dutch</option>
                    <option value="English">English</option>
                    <option value="Estonian">Estonian</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finnish">Finnish</option>
                    <option value="French">French</option>
                    <option value="Georgian">Georgian</option>
                    <option value="German">German</option>
                    <option value="Greek">Greek</option>
                    <option value="Gujarati">Gujarati</option>
                    <option value="Hebrew">Hebrew</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Hungarian">Hungarian</option>
                    <option value="Icelandic">Icelandic</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Irish">Irish</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Javanese">Javanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Latin">Latin</option>
                    <option value="Latvian">Latvian</option>
                    <option value="Lithuanian">Lithuanian</option>
                    <option value="Macedonian">Macedonian</option>
                    <option value="Malay">Malay</option>
                    <option value="Malayalam">Malayalam</option>
                    <option value="Maltese">Maltese</option>
                    <option value="Maori">Maori</option>
                    <option value="Marathi">Marathi</option>
                    <option value="Mongolian">Mongolian</option>
                    <option value="Nepali">Nepali</option>
                    <option value="Norwegian">Norwegian</option>
                    <option value="Persian">Persian</option>
                    <option value="Polish">Polish</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Punjabi">Punjabi</option>
                    <option value="Quechua">Quechua</option>
                    <option value="Romanian">Romanian</option>
                    <option value="Russian">Russian</option>
                    <option value="Samoan">Samoan</option>
                    <option value="Serbian">Serbian</option>
                    <option value="Slovak">Slovak</option>
                    <option value="Slovenian">Slovenian</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Swahili">Swahili</option>
                    <option value="Swedish">Swedish </option>
                    <option value="Tamil">Tamil</option>
                    <option value="Tatar">Tatar</option>
                    <option value="Telugu">Telugu</option>
                    <option value="Thai">Thai</option>
                    <option value="Tibetan">Tibetan</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Ukranian">Ukranian</option>
                    <option value="Urdu">Urdu</option>
                    <option value="Uzbek">Uzbek</option>
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="Welsh">Welsh</option>
                    <option value="Xhosa">Xhosa</option>
                </select>
                <select class="btn btn-secondary dropdown-toggle" type="button" id="level2" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="level2">
                    <option value="">---- level ----</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Native">Native</option>
                </select>
            </div>
            <div class="form-group">
                <select class="btn btn-secondary dropdown-toggle" type="button" id="language3" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="language3">
                    <option value="">---- language ----</option>
                    <option value="Korean">Korean</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                    <option value="Chinese">Chinese</option>
                    <option value="German">German</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                    <option value="Afrikanns">Afrikanns</option>
                    <option value="Albanian">Albanian</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Armenian">Armenian</option>
                    <option value="Basque">Basque</option>
                    <option value="Bengali">Bengali</option>
                    <option value="Bulgarian">Bulgarian</option>
                    <option value="Catalan">Catalan</option>
                    <option value="Cambodian">Cambodian</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Croation">Croation</option>
                    <option value="Czech">Czech</option>
                    <option value="Danish">Danish</option>
                    <option value="Dutch">Dutch</option>
                    <option value="English">English</option>
                    <option value="Estonian">Estonian</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finnish">Finnish</option>
                    <option value="French">French</option>
                    <option value="Georgian">Georgian</option>
                    <option value="German">German</option>
                    <option value="Greek">Greek</option>
                    <option value="Gujarati">Gujarati</option>
                    <option value="Hebrew">Hebrew</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Hungarian">Hungarian</option>
                    <option value="Icelandic">Icelandic</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Irish">Irish</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Javanese">Javanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Latin">Latin</option>
                    <option value="Latvian">Latvian</option>
                    <option value="Lithuanian">Lithuanian</option>
                    <option value="Macedonian">Macedonian</option>
                    <option value="Malay">Malay</option>
                    <option value="Malayalam">Malayalam</option>
                    <option value="Maltese">Maltese</option>
                    <option value="Maori">Maori</option>
                    <option value="Marathi">Marathi</option>
                    <option value="Mongolian">Mongolian</option>
                    <option value="Nepali">Nepali</option>
                    <option value="Norwegian">Norwegian</option>
                    <option value="Persian">Persian</option>
                    <option value="Polish">Polish</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Punjabi">Punjabi</option>
                    <option value="Quechua">Quechua</option>
                    <option value="Romanian">Romanian</option>
                    <option value="Russian">Russian</option>
                    <option value="Samoan">Samoan</option>
                    <option value="Serbian">Serbian</option>
                    <option value="Slovak">Slovak</option>
                    <option value="Slovenian">Slovenian</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Swahili">Swahili</option>
                    <option value="Swedish">Swedish </option>
                    <option value="Tamil">Tamil</option>
                    <option value="Tatar">Tatar</option>
                    <option value="Telugu">Telugu</option>
                    <option value="Thai">Thai</option>
                    <option value="Tibetan">Tibetan</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Ukranian">Ukranian</option>
                    <option value="Urdu">Urdu</option>
                    <option value="Uzbek">Uzbek</option>
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="Welsh">Welsh</option>
                    <option value="Xhosa">Xhosa</option>
                </select>
                <select class="btn btn-secondary dropdown-toggle" type="button" id="level3" style="background-color: white; color: black"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="level3">
                    <option value="">---- level ----</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Native">Native</option>
                </select>
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Religion</label>
            </div>
            <div class="form-group">
                <label class="sr-only" for="religion">Religion</label>
                <input type='text' class='form-control' id='religion' name='religion' maxlength="20" placeholder="ex) none, christianity">
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>The best purpose of meeting foreign friends</label>
            </div>
            <div class="form-group custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="tendency" id="play" value="play" checked>
                <label class="custom-control-label" for="play" style="font-size: large">Play</label>
            </div>
            <div class="form-group custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="tendency" id="culture" value="culture">
                <label class="custom-control-label" for="culture" style="font-size: large">Culture</label>
            </div>
            <div class="form-group custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="tendency" id="study" value="study">
                <label class="custom-control-label" for="study" style="font-size: large">Study</label>
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Interest</label>
            </div>
            <div class="form-group">
                <label class="sr-only" for="interest">Interest</label>
                <input type='text' class='form-control' id='interest' name='interest' placeholder="ex) movie, korea history, food">
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Hate</label>
            </div>
            <div class="form-group">
                <label class="sr-only" for="hate">Hate</label>
                <input type='text' class='form-control' id='hate' name='hate' placeholder="ex) smoking, fighter, pervert">
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>What to do with</label>
            </div>
            <div class="input-group">
                <textarea class="form-control" id='wish' name='wish' aria-label="With textarea" placeholder=
                "ex) I want to talk in a cafe."></textarea>
            </div>
            <div style="font-weight: bold; font-size: large;">
                <label>Introduce</label>
            </div>
            <div class="input-group">
                <textarea class="form-control" id='introduce' name='introduce' aria-label="With textarea"></textarea>
            </div>
            <div class="form-group">
                <span id="submit_feedback" disabled></span>
            </div>
            <div class="form-group">
                <button id="submit" class="btn btn-primary btn-block">Set Profile</button>
            </div>
        </div>
    </article>
</div>
<nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center;">
    <ul class="nav nav-pills" style="font-size: larger;">
        <li class="nav-item">
            <a class="nav-link mdi mdi-home" href="/home"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-group" href="/profile/community"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-plus" href="/request/view"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-comment" href="/chat/chatRoom"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account" href="/mypage"></a>
        </li>
    </ul>
</nav>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-storage.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDbzlQSjsx4Pg3zj7EFAU6I-t6TmP1XaW4",
        authDomain: "hey-dude-da806.firebaseapp.com",
        databaseURL: "https://hey-dude-da806.firebaseio.com",
        projectId: "hey-dude-da806",
        storageBucket: "hey-dude-da806.appspot.com",
        messagingSenderId: "364253299049",
        appId: "1:364253299049:web:da6cb2975e332c5221bdf8",
        measurementId: "G-E3K1WF6VP5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

</script>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/home"
    }
    function SignOut() {
        $.ajax({
            type:"GET",
            url: "/user/signout" ,
            data: {
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                location.reload();
            }
        });
    }
    function lengthCheckofExp(obj)
    {
        if(obj.value.length >= obj.maxLength)
        {
            return false;
        }
    }
    let userID = '<%= user %>'
    let URL="";
    // Upload Storage

    var fileButton = document.getElementById('fileButton');
    fileButton.addEventListener('change', function(e){
        // Get file
        var file = e.target.files[0];
        // Create a storage ref
        var storageRef = firebase.storage().ref(userID+'.jpg');
        // Upload file
        var task = storageRef.put(file);
        // Listen for state changes, errors, and completion of the upload.
        task.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
            function(snapshot) {
                // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                console.log('Upload is ' + progress + '% done');
                //uploader.value = progress;
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED: // or 'paused'
                        console.log('Upload is paused');
                        break;
                    case firebase.storage.TaskState.RUNNING: // or 'running'
                        console.log('Upload is running');
                        break;
                }
            }, function(error) {
                // A full list of error codes is available at
                // https://firebase.google.com/docs/storage/web/handle-errors
                switch (error.code) {
                    case 'storage/canceled':
                        // User canceled the upload
                        break;
                    case 'storage/unknown':
                        // Unknown error occurred, inspect error.serverResponse
                        break;
                }
            }, function() {
                // Upload completed successfully, now we can get the download URL
                uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                    console.log('File available at', downloadURL);
                });
            });
        storageRef.getDownloadURL().then(function(url) {
            // This can be downloaded directly:
            var xhr = new XMLHttpRequest();
            xhr.responseType = 'blob';
            xhr.onload = function(event) {
                var blob = xhr.response;
            };
            xhr.open('GET', url);
            xhr.send();
            // Or inserted into an <img> element:
            var img = document.getElementById('myimage');
            img.src = url;
            URL = url;
            alert("Success!");
        }).catch(function(error) {
            // Handle any errors
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
                case 'storage/object-not-found':
                    // File doesn't exist
                    break;
                case 'storage/canceled':
                    // User canceled the upload
                    break;
                case 'storage/unknown':
                    // Unknown error occurred, inspect the server response
                    break;
            }
        });
    });

    $("#plus").click(function(e){
        e.preventDefault();
        $('#fileButton').click();
    });

    $("#submit").click(function () {
        alert("!!");
        let language = Array();
        let level = Array()
        language[0]= $('#language1').val()
        language[1]= $('#language2').val()
        language[2]= $('#language3').val()
        level[0]= $('#level1').val()
        level[1]= $('#level2').val()
        level[2]= $('#level3').val()
        $.ajax({
            type:"POST",
            url: "/profile/set" ,
            data: {
                age : $('#age').val(),
                nationality : $('#nationality').val(),
                major: $('#major').val(),
                language : language,
                level : level,
                religion : $('#religion').val(),
                tendency : $('input[name="tendency"]:checked').val(),
                interest : $('#interest').val(),
                hate : $('#hate').val(),
                wish : $('#wish').val(),
                introduce : $('#introduce').val(),
                url : URL
            }
        }).done(function(result) {
            alert(result);
            if (result) {
                location.href = '/profile/myProfile';
            } else {
                showErrorMsg($('#submit_feedback'), "Please try again.");
            }
        });
    })

</script>
