<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white; font-size: larger">Hey Dude</button>
    <div>
        <!--<button type="button" onclick="SignOut()" class="btn btn-outline-success my-2 my-sm-0" style="border: none; color: white">Sign Out</button>-->
        <button type="button" onclick="PageToSignIn()" class="btn btn-outline-success my-2 my-sm-0" style="border: none; color: white">Sign In</button>
        <button type="button" onclick="PageToSignUp()" class="btn btn-outline-success my-2 my-sm-0" style="color: white">Sign Up</button>
    </div>
</nav>
    <div class="content-scroll">
        <!--요안에만 채우시면됩니다.-->
        <article class="container" >
            <div class="page-header" style="position: relative; overflow: hidden;">
                <br>
                <h2 align="center">Sign in</h2>
                <br>
                <hr>
            </div>
            <br>
            <div class="form" style="width: 100%; margin: auto; max-width: 430px;">
                <div class="form-group">
                    <label class="sr-only" for="id">id</label>
                    <input type='text' class='form-control' id='id' name='id' maxlength="20" placeholder="Email@ajou.ac.kr">
                    <span id="id_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pswd1">Password1</label>
                    <input type="password" onclick="enterkey()" class="form-control" id="pswd1" name="pswd1" maxlength="20" placeholder="Password">
                    <span id="pswd1_feedback"></span>
                </div>
                <div class="form-group">
                    <span id="submit_feedback" disabled></span>
                </div>
                <div class="form-group">
                    <button id="signin" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </article>
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd;">
    </nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/"
    }
    function SignOut() {
        location.href="/logout"
    }
    function PageToSignIn() {
        location.href="/signin"
    }
    function PageToSignUp() {
        location.href="/signup"
    }

    $("#signin").on("click",function(e){
        submit();
    })

    function enterkey(){
        var keyCode = window.event.keyCode;
        if(keyCode == 13){
            submit();
        }
    }
    function submit(){
        var id = $("#id").val();
        var pw = $("#pw").val();
        $.ajax({
            type: "POST",
            url: "/signin/submit",
            data: {
                id: id,
                pw: pw
            }
        }).done(function( msg ) {
            $("#login_feedback").hide();
            $("#pw").removeClass('is-invalid');
            $("#id").removeClass('is-invalid');
            if(!msg){
                $("#login_feedback").html("비밀번호를 확인하세요.");
                $("#login_feedback").show();
                $("#pw").addClass('is-invalid');
                $("#id").addClass('is-invalid');
            }else{
            location.replace("/");
            }
        });
    }
</script>
