<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white; font-size: larger">Hey Dude</button>
    <div>
        <button type="button" onclick="PageToSignIn()" class="btn btn-outline-info my-2 my-sm-0" style="border: none; color: white">Sign In</button>
        <button type="button" onclick="PageToSignUp()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Up</button>
    </div>
</nav>
    <div class="content-scroll">
        <!--요안에만 채우시면됩니다.-->
        <article class="container" >
            <div class="page-header" style="position: relative; overflow: hidden;">
                <br>
                <h2 align="center">Sign in</h2>
                <br>
                <hr>
            </div>
            <br>
            <div class="form" style="width: 100%; margin: auto; max-width: 430px;">
                <div class="form-group">
                    <div style="display: flex">
                        <label class="sr-only" for="id">id</label>
                        <input type='text' class='form-control' style="width: 50%" id='id' name='id' maxlength="20" placeholder="Email">
                        <input type='text' class='form-control' style="width: 50%" maxlength="20" placeholder="@ajou.ac.kr" disabled value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pswd1">Password1</label>
                    <input type="password" onclick="enterkey()" class="form-control" id="pw" name="pw" maxlength="20" placeholder="Password" autocomplete="off">
                </div>
                <div class="form-group">
                    <span id="submit_feedback" style="color: red" disabled></span>
                </div>
                <div class="form-group">
                    <button id="signin" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </article>
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center">
    </nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/home"
    }
    function PageToSignIn() {
        location.replace("/signin")
    }
    function PageToSignUp() {
        location.replace("/signup")
    }

    $("#signin").on("click",function(e){
        submit();
    })

    function enterkey(){
        var keyCode = window.event.keyCode;
        if(keyCode == 13){
            submit();
        }
    }
    function submit(){
        var id = $("#id").val();
        var pw = $("#pw").val();
        if(pw==""||id==""){
            return
        }else {
            $.ajax({
                type:"POST",
                url: "/user/signin" ,
                data: {
                    userID: id,
                    password: pw
                }
            }).done(function(result) {
                $("#submit_feedback").hide();
                $("#pw").removeClass('is-invalid');
                $("#id").removeClass('is-invalid');
                if(result=="1") {
                    $("#submit_feedback").html("Please check your ID.");
                    $("#submit_feedback").show();
                    $("#id").addClass('is-invalid');
                }else if(result=="2"){
                    $("#submit_feedback").html("Please check your password.");
                    $("#submit_feedback").show();
                    $("#pw").addClass('is-invalid');
                }
                else if(result=="3"){
                    location.replace("/verification");
                }else{
                    location.replace("/home");
                }
            });
        }
    }
</script>
