<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
    <nav class="navbar navbar-dark bg-primary bar">
        <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
        <div>
            <button type="button" onclick="PageToSignIn()" class="btn btn-outline-info my-2 my-sm-0" style="border: none; color: white">Sign In</button>
            <button type="button" onclick="PageToSignUp()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Up</button>
        </div>
    </nav>
    <div class="content-scroll">
        <!--요안에만 채우시면됩니다.-->
        <article class="container" >
            <div class="page-header" style="position: relative; overflow: hidden;">
                <br>
                <h2 align="center">Sign up</h2>
                <br>
                <hr>
            </div>
            <br>
            <div class="form" style="width: 100%; margin: auto; max-width: 430px;">
                <div class="form-group">
                    <div style="display: flex">
                        <label class="sr-only" for="id">id</label>
                        <input type='text' class='form-control' style="width: 50%" id='id' name='id' maxlength="20" placeholder="Email">
                        <input type='text' class='form-control' style="width: 50%" maxlength="20" placeholder="@ajou.ac.kr" disabled value="">
                    </div>
                    <span id="id_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pswd1">Password1</label>
                    <input type="password" class="form-control" id="pswd1" name="pswd1" maxlength="20" placeholder="Password" autocomplete="off">
                    <span id="pswd1_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pswd2">Password2</label>
                    <input type="password" class="form-control" id="pswd2" name="pswd2" maxlength="20" placeholder="Password check" autocomplete="off">
                    <span id="pswd2_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control"  id="name" name="name" required placeholder="Name (en)">
                </div>
                <div class="form-group custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="sex" id="male" value="male" checked>
                    <label class="custom-control-label" for="male" style="font-size: large;">male</label>
                </div>
                <div class="form-group custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="sex" id="female" value="female">
                    <label class="custom-control-label" for="female" style="font-size: large;">female</label>
                </div>
                <div class="form-group">
                    <span id="submit_feedback" disabled></span>
                </div>
                <div class="form-group">
                    <button id="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>
            </div>
        </article>
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center">
    </nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/home"
    }
    function PageToSignIn() {
        location.replace("/signin")
    }
    function PageToSignUp() {
        location.replace("/signup")
    }


    $(document).ready(function() {
        $("#id").blur(function() {
            checkId();
        });

        $("#pswd1").blur(function() {
            checkPswd1();
        }).keyup(function(event) {
            checkShiftUp(event);
        }).keypress(function(event) {
            checkCapslock(event);
        }).keydown(function(event) {
            checkShiftDown(event);
        });

        $("#pswd2").blur(function() {
            checkPswd2();
        }).keyup(function(event) {
            checkShiftUp(event);
        }).keypress(function(event) {
            checkCapslock2(event);
        }).keydown(function(event) {
            checkShiftDown(event);
        });

        $("#submit").click(function(event) {
            $('#submit_feedback').hide();
            $('#submit').hide()
            if(checkId()
                &&checkPswd1()
                &&checkPswd2()
                &&checkName()
                ){
                submit();
            }else{
                $('#submit_feedback').show();
                $('#submit').show()
                showErrorMsg($('#submit_feedback'),"Please fill out all.");
                return;
            }

        });

    });

    function submit(){
        $.ajax({
            type:"POST",
            url: "/user/signup" ,
            data: {
                userID: $('#id').val(),
                password: $('#pswd1').val(),
                userName: $('#name').val(),
                sex: $('input[name="sex"]:checked').val()
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                showErrorMsg($('#submit_feedback'), "Please try again.");
            }
        });
    }

    function checkId() {
        var id = $("#id").val();
        var oMsg = $("#id_feedback");
        $("#id").removeClass('is-valid');
        $("#id").removeClass('is-invalid');

        oMsg.hide();

        if ( id == "") {
            oMsg.show();
            showErrorMsg(oMsg,"required.");
            $("#id").addClass('is-invalid');
            return false;
        }

        var isID = /^[a-z0-9][a-z0-9_\-]{3,19}$/;
        if (!isID.test(id)) {
            oMsg.show();
            showErrorMsg(oMsg,"Only 4~20 English lowercase letters, numbers, and (_) are allowed.");
            $("#id").addClass('is-invalid');
            return false;
        }
        $.ajax({
            type:"POST",
            url: "/user/duplicate" ,
            data:{
                userID : id
            },
            dataType: "json"
        }).done(function(result) {
            if (result) {
                oMsg.show();
                showSuccessMsg(oMsg, "available ID");
                $("#id").addClass('is-valid');

            } else {
                oMsg.show();
                showErrorMsg(oMsg, "unavailable ID");
                $("#id").addClass('is-invalid');
            }
        });
        return true;
    }

    function checkPswd1() {
        var pw = $("#pswd1").val();
        var oMsg = $("#pswd1_feedback");
        $("#pswd1").removeClass('is-invalid');
        $("#pswd1").removeClass('is-valid');
        oMsg.hide();
        if (pw == "") {
            oMsg.show();
            showErrorMsg(oMsg,"required");
            return false;
        }
        if (isValidPasswd(pw) != true) {
            oMsg.show();
            showErrorMsg(oMsg,"Please use 8 to 16 uppercase/lowercase letters, numbers, and special characters.");
            $("#pswd1").addClass('is-invalid');
            return false;
        }
        $("#pswd1").addClass('is-valid');

        return true;
    }

    function checkPswd2() {
        var pswd1 = $("#pswd1");
        var pswd2 = $("#pswd2");
        var oMsg = $("#pswd2_feedback");

        $("#pswd2").removeClass('is-valid');
        $("#pswd2").removeClass('is-invalid');
        oMsg.hide();
        if (pswd2.val() == "") {
            $("#pswd2").addClass('is-invalid');
            return false;
        }
        if (isValidPasswd(pswd2.val()) != true) {
            $("#pswd2").addClass('is-invalid');
            return false;
        }
        if (pswd1.val() != pswd2.val()) {
            $("#pswd2").addClass('is-invalid');
            oMsg.show();
            showErrorMsg(oMsg,"not match");
            return false;
        } else {
            $("#pswd2").addClass('is-valid');
            return true;
        }
        return true;
    }

    function checkName(){
        var val = $('#name');
        var oMsg = $('#name');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }

    function showSuccessMsg(object,msg){
        object.css('color','green');
        object.html(msg);
        object.show();
    }

    function showErrorMsg(object,msg){
        object.css('color','red');
        object.html(msg);
        object.show();
    }

    function hideMsg(obj) {
        obj.hide();
    }

    function isValidPasswd(str) {
        var cnt = 0;
        if (str == "") {
            return false;
        }

        /* check whether input value is included space or not */
        var retVal = checkSpace(str);
        if (retVal) {
            return false;
        }
        if (str.length < 8) {
            return false;
        }
        for (var i = 0; i < str.length; ++i) {
            if (str.charAt(0) == str.substring(i, i + 1))
                ++cnt;
        }
        if (cnt == str.length) {
            return false;
        }

        var isPW = /^[A-Za-z0-9`\-=\\\[\];',\./~!@#\$%\^&\*\(\)_\+|\{\}:"<>\?]{8,16}$/;
        if (!isPW.test(str)) {
            return false;
        }

        return true;
    }

    function checkSpace(str) {
        if (str.search(/\s/) != -1) {
            return true;
        } else {
            return false;
        }
    }

    var isShift = false;
    function checkShiftUp(e) {
        if (e.which && e.which == 16) {
            isShift = false;
        }
    }

    function checkShiftDown(e) {
        if (e.which && e.which == 16) {
            isShift = true;
        }
    }

    function checkCapslock(e) {
        var myKeyCode = 0;
        var myShiftKey = false;
        if (window.event) { // IE
            myKeyCode = e.keyCode;
            myShiftKey = e.shiftKey;
        } else if (e.which) { // netscape ff opera
            myKeyCode = e.which;
            myShiftKey = isShift;
        }

        var oMsg = $("#pswd1_feedback");
        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock is on.");
        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock is on.");
        } else {
            hideMsg(oMsg);
        }
    }

    function checkCapslock2(e) {
        var myKeyCode = 0;
        var myShiftKey = false;
        if (window.event) { // IE
            myKeyCode = e.keyCode;
            myShiftKey = e.shiftKey;
        } else if (e.which) { // netscape ff opera
            myKeyCode = e.which;
            myShiftKey = isShift;
        }

        var oMsg = $("#pswd2_feedback");
        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock is on.");
        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock is on.");
        } else {
            hideMsg(oMsg);
        }
    }

</script>
