<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
    <nav class="navbar navbar-dark bg-primary bar">
        <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white; font-size: larger">Hey Dude</button>
        <div>
            <!--<button type="button" onclick="SignOut()" class="btn btn-outline-success my-2 my-sm-0" style="border: none; color: white">Sign Out</button>-->
            <button type="button" onclick="PageToSignIn()" class="btn btn-outline-success my-2 my-sm-0" style="border: none; color: white">Sign In</button>
            <button type="button" onclick="PageToSignUp()" class="btn btn-outline-success my-2 my-sm-0" style="color: white">Sign Up</button>
        </div>
    </nav>
    <div class="content-scroll">
        <!--요안에만 채우시면됩니다.-->
        <article class="container" >
            <div class="page-header" style="position: relative; overflow: hidden;">
                <br>
                <h2 align="center">Sign up</h2>
                <br>
                <hr>
            </div>
            <br>

            <div class="form" style="width: 100%; margin: auto; max-width: 430px;">
                <div class="form-group">
                    <label class="sr-only" for="id">id</label>
                    <input type='text' class='form-control' id='id' name='id' maxlength="20" placeholder="Email@ajou.ac.kr">
                    <span id="id_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pswd1">Password1</label>
                    <input type="password" class="form-control" id="pswd1" name="pswd1" maxlength="20" placeholder="Password">
                    <span id="pswd1_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="pswd2">Password2</label>
                    <input type="password" class="form-control" id="pswd2" name="pswd2" maxlength="20" placeholder="Password check">
                    <span id="pswd2_feedback"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control"  id="name" name="name" required placeholder="Name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Nick Name</label>
                    <input type="text" class="form-control"  id="nickname" name="nickname" required placeholder="Nick Name">
                </div>
                <div class="form-group" style="display: flex; max-width: 340px;" >
                    <input type="text" class="form-control" style= "width: 90%" id="yy" name="year" maxlength="4" placeholder="yyyy">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" class="form-control" style= "width: 45%"  id="mm" name="month" maxlength="2" placeholder="mm">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" class="form-control" style= "width: 45%"  id="dd" name="day" maxlength="2" placeholder="dd">
                </div>
                <div class="form-group custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="sex" id="male" value="male" checked>
                    <label class="custom-control-label" for="male">male</label>
                </div>
                <div class="form-group custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="sex" id="female" value="female">
                    <label class="custom-control-label" for="female">female</label>
                </div>
                <div class="form-group">
                    <span id="submit_feedback" disabled></span>
                </div>
                <div class="form-group">
                    <button id="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>
            </div>
        </article>
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd;">
    </nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/"
    }
    function SignOut() {
        location.href="/logout"
    }
    function PageToSignIn() {
        location.href="/signin"
    }
    function PageToSignUp() {
        location.href="/signup"
    }

    $(document).ready(function() {

        $("#id").blur(function() {
            checkId();
        });

        $("#pswd1").blur(function() {
            checkPswd1();
        }).keyup(function(event) {
            checkShiftUp(event);
        }).keypress(function(event) {
            checkCapslock(event);
        }).keydown(function(event) {
            checkShiftDown(event);
        });

        $("#pswd2").blur(function() {
            checkPswd2();
        }).keyup(function(event) {
            checkShiftUp(event);
        }).keypress(function(event) {
            checkCapslock2(event);
        }).keydown(function(event) {
            checkShiftDown(event);
        });

        $("#submit").click(function(event) {
            $('#submit_feedback').hide();
            if(!checkAgree()){
                $('#submit_feedback').show();
                showErrorMsg($('#submit_feedback'),"약관에 동의 하세요.");
                return;
            }else if(checkId()
                &&checkPswd1()
                &&checkPswd2()
                &&checkName()
                &&checkyy()
                &&checkmm()
                &&checkdd()
                &&checkPhone()
                &&checkEmail()
                &&checkPostcode()
                &&checkRoadAddress()
                &&checkAddress()){
                submit();
            }else{
                $('#submit_feedback').show();
                showErrorMsg($('#submit_feedback'),"모든 항목을 작성하세요.");
                return;
            }

        });

    });

    function submit(){

        $.ajax({
            type:"POST",
            url: "registerConfirm.php" ,
            data:{
                id : $('#id').val(),
                pw : $('#pswd1').val(),
                name : $('#name').val(),
                birth : $('#yy').val()+$('#mm').val()+$('#dd').val(),
                sex : $('input[name="sex"]:checked').val(),
                phone : $('#phone').val(),
                phone_agree : $("#phone_agree").is(':checked'),
                email : $("#email").val(),
                email_agree : $("#email_agree").is(':checked'),
                postcode : $("#postcode").val(),
                roadAddress : $("#roadAddress").val(),
                address : $("#address").val(),
                grade : $('input[name="grade"]:checked').val()
            }
        }).done(function(result) {

            if (result) {
                alert("회원가입에 축하드립니다.");
                location.href='login.php';
            } else {
                showErrorMsg($('#submit_feedback'), "다시 시도해주세요.");
            }
        });
    }

    function checkId() {
        var id = $("#id").val();
        var oMsg = $("#id_feedback");
        $("#id").removeClass('is-valid');
        $("#id").removeClass('is-invalid');

        oMsg.hide();

        if ( id == "") {
            oMsg.show();
            showErrorMsg(oMsg,"필수 정보입니다.");
            $("#id").addClass('is-invalid');
            return false;
        }

        var isID = /^[a-z0-9][a-z0-9_\-]{3,19}$/;
        if (!isID.test(id)) {
            oMsg.show();
            showErrorMsg(oMsg,"4~20자의 영문 소문자, 숫자와 (_),(-)만 사용 가능합니다.");
            $("#id").addClass('is-invalid');
            return false;
        }

        $.ajax({
            type:"POST",
            url: "idValidate.php" ,
            data:{
                is_id : id
            }
        }).done(function(result) {
            if (result) {
                oMsg.show();
                showSuccessMsg(oMsg, "사용 가능한 아이디입니다.");
                $("#id").addClass('is-valid');

            } else {
                oMsg.show();
                showErrorMsg(oMsg, "이미 사용중인 아이디입니다.");
                $("#id").addClass('is-invalid');
            }
        });
        return true;
    }

    function checkPswd1() {

        var id = $("#id").val();
        var pw = $("#pswd1").val();
        var oMsg = $("#pswd1_feedback");
        $("#pswd1").removeClass('is-invalid');
        $("#pswd1").removeClass('is-valid');
        oMsg.hide();
        if (pw == "") {
            oMsg.show();
            showErrorMsg(oMsg,"필수 정보입니다.");
            return false;
        }
        if (isValidPasswd(pw) != true) {
            oMsg.show();
            showErrorMsg(oMsg,"8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
            $("#pswd1").addClass('is-invalid');
            return false;
        }
        $("#pswd1").addClass('is-valid');

        // $.ajax({
        //     type:"GET",
        //     url: "/user2/joinAjax.nhn?m=checkPswd&id=" + escape(encodeURIComponent(id)) + "&pw=" + escape(encodeURIComponent(pw)) ,
        //     success : function(data) {
        //         var result = data.substr(4);
        //         if (result == 1) {
        //             showErrorMsg(oMsg,"8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
        //             return false;
        //         } else {
        //             oMsg.hide();
        //         }
        //         pwFlag = true;
        //     }
        // });
        return true;
    }

    function checkPswd2() {
        var pswd1 = $("#pswd1");
        var pswd2 = $("#pswd2");
        var oMsg = $("#pswd2_feedback");

        $("#pswd2").removeClass('is-valid');
        $("#pswd2").removeClass('is-invalid');
        oMsg.hide();
        if (pswd2.val() == "") {
            $("#pswd2").addClass('is-invalid');
            return false;
        }
        if (isValidPasswd(pswd2.val()) != true) {
            $("#pswd2").addClass('is-invalid');
            return false;
        }
        if (pswd1.val() != pswd2.val()) {
            $("#pswd2").addClass('is-invalid');
            oMsg.show();
            showErrorMsg(oMsg,"일치하지 않습니다.");
            return false;
        } else {
            $("#pswd2").addClass('is-valid');
            return true;
        }
        return true;
    }

    function checkName(){
        var val = $('#name');
        var oMsg = $('#name');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }

    function checkyy(){
        var val = $('#yy');
        var oMsg = $('#yy');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }

    function checkmm(){
        var val = $('#mm');
        var oMsg = $('#mm');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }

    function checkdd(){
        var val = $('#dd');
        var oMsg = $('#dd');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }
    function checkPhone(){
        var val = $('#phone');
        var oMsg = $('#phone');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }function checkEmail(){
        var val = $('#email');
        var oMsg = $('#email');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }
    function checkPostcode(){
        var val = $('#postcode');
        var oMsg = $('#postcode');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }
    function checkRoadAddress(){
        var val = $('#roadAddress');
        var oMsg = $('#roadAddress');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }
    function checkAddress(){
        var val = $('#address');
        var oMsg = $('#address');
        oMsg.removeClass('is-invalid');
        if(val.val()==""){
            oMsg.addClass('is-invalid');
            return false;
        }else{
            return true;
        }
    }
    function checkAgree(){
        var val = $('#agree');
        if(val.is(':checked')==false){
            return false;
        }else{
            return true;
        }
    }

    function showSuccessMsg(object,msg){
        object.css('color','green');
        object.html(msg);
        object.show();
    }

    function showErrorMsg(object,msg){
        object.css('color','red');
        object.html(msg);
        object.show();
    }

    function hideMsg(obj) {
        obj.hide();
    }

    function isValidPasswd(str) {
        var cnt = 0;
        if (str == "") {
            return false;
        }

        /* check whether input value is included space or not */
        var retVal = checkSpace(str);
        if (retVal) {
            return false;
        }
        if (str.length < 8) {
            return false;
        }
        for (var i = 0; i < str.length; ++i) {
            if (str.charAt(0) == str.substring(i, i + 1))
                ++cnt;
        }
        if (cnt == str.length) {
            return false;
        }

        var isPW = /^[A-Za-z0-9`\-=\\\[\];',\./~!@#\$%\^&\*\(\)_\+|\{\}:"<>\?]{8,16}$/;
        if (!isPW.test(str)) {
            return false;
        }

        return true;
    }

    function checkSpace(str) {
        if (str.search(/\s/) != -1) {
            return true;
        } else {
            return false;
        }
    }

    var isShift = false;
    function checkShiftUp(e) {
        if (e.which && e.which == 16) {
            isShift = false;
        }
    }

    function checkShiftDown(e) {
        if (e.which && e.which == 16) {
            isShift = true;
        }
    }

    function checkCapslock(e) {
        var myKeyCode = 0;
        var myShiftKey = false;
        if (window.event) { // IE
            myKeyCode = e.keyCode;
            myShiftKey = e.shiftKey;
        } else if (e.which) { // netscape ff opera
            myKeyCode = e.which;
            myShiftKey = isShift;
        }

        var oMsg = $("#pswd1_feedback");
        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
        } else {
            hideMsg(oMsg);
        }
    }

    function checkCapslock2(e) {
        var myKeyCode = 0;
        var myShiftKey = false;
        if (window.event) { // IE
            myKeyCode = e.keyCode;
            myShiftKey = e.shiftKey;
        } else if (e.which) { // netscape ff opera
            myKeyCode = e.which;
            myShiftKey = isShift;
        }

        var oMsg = $("#pswd2_feedback");
        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
            showErrorMsg(oMsg,"Caps Lock이 켜져 있습니다.");
        } else {
            hideMsg(oMsg);
        }
    }

</script>
