.set-width{
    min-width: 600px !important;
    max-width: 900px !important;
}
/*html{*/
/*overflow: hidden !important;*/
/*}*/

.content-scroll{
    overflow-y: scroll !important;
    max-height: 84vh !important;
    min-height: 84vh !important;
    background: rgb(250,250,250);
    margin: 0 auto;
}
/*userCard 폰트크기*/
.content-scroll table{
    font-size: 1.3em;
    width: 100%;
}
/*Forum 폰트크기*/
.content-scroll .container .table-hover{
    font-size: 0.8em;
    width: 100%;
}
.bar{
    max-height: 8vh !important;
    min-height: 8vh !important;
}
.center{
    align-content: center;
    text-align: center;
}
.body-size{
    background: rgb(243,243,243);
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
}
tag {
    background-color: #80bdff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
}
.navbar-dark{
    padding: 0;
}
.navbar-dark button{
    font-size: larger;
    margin: 0;
    border: 0;
}
.navbar-light{
    padding: 0;
    border: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-light ul{
    width: 100%;
}
.navbar-light li{font-size: x-large;width: 20%;display: inline-block; text-align: center;}

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
.firstinfo {
    display: flex;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
    padding-bottom: 5px;
}

.cardList {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.card .profileCard{
    margin-left: 10%;
    margin-right: 10%;
}
.btn_board{
    /*background-color: white;*/
    color: black;
    height: fit-content;
}
.btn_write{
    justify-content: right;
}
.badgescard span {
    font-size: 1em;
    margin: 0px 6px;
    opacity: 0.6;
}
/*userCard*/
.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
    margin: 0 auto;
}
.firstinfo img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.firstinfo .profileinfo {
    padding: 0px 10px;
}
.firstinfo .profileinfo h1 {
    font-size: 0.9em;
    text-align: left;
}
.firstinfo .profileinfo h1 button{
    font-size: 0.6em;
    padding: 0.2em;
    width: 4em;
}
.firstinfo .profileinfo h3 {
    font-size: 0.6em;
    color: #009688;
    font-style: italic;
}
.firstinfo .profileinfo p.bio {
    font-size: 0.6em;
    margin: 0 0;
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}
/*프로필*/
.myprofileinfo .userFace{
    text-align: center;
}
.myprofileinfo .userFace img{
    border-radius: 50%;
    width: 15em;
    height: 15em;
}
.myprofileinfo .profileinfo {
    padding: 0px 10px;
}
.myprofileinfo .profileinfo h1 {
    font-size: 2em;
    text-align: center;
}
.myprofileinfo .profileinfo h1 button{
    font-size: 1em;
    padding: 0.2em;
    width: 4em;
}
.myprofileinfo .profileinfo h3 {
    font-size: 0.9em;
}
.myprofileinfo .profileinfo td {
    font-size: 0.9em;
    color: #009688;
    font-style: italic;
}

.specific p{
    font-size: 1.3em;
    color: #5A5A5A;
    line-height: 0.8;
    font-style: initial;
}
.specific label{
    font-size: 1.5em;
    line-height: 1.2;
    font-style: initial;
}
@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}
@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}

.button {
    font-size: 0.6em;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0.5em;
    color: white;
    background-color: #3768c8;
    text-align: center;
    cursor: pointer;
    width: 6em;
}

.button:hover {
    background-color: #a6b0b5;
}

/*iPhone 5*/
@media all and (max-width: 360px){
    .navbar-light li{
        font-size: larger;
    }
}
