.set-width{
    min-width: 600px !important;
    max-width: 900px !important;
}
/*html{*/
    /*overflow: hidden !important;*/
/*}*/

.content-scroll{
    overflow-y: scroll !important;
    max-height: 83vh !important;
    min-height: 83vh !important;
    background: rgb(250,250,250);
}
.bar{
    max-height: 8vh !important;
    min-height: 8vh !important;
}
.center{
    align-content: center;
    text-align: center;
}
.body-size{
    background: rgb(243,243,243);
    margin: 0 auto;
    max-width: 800px;
}
tag {
    background-color: #80bdff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
}

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
.firstinfo {
    display: flex;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
    padding-bottom: 5px;
}

.card {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}
.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.firstinfo .profileinfo {
    padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #009688;
    font-style: italic;
}
.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}
@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}
@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #3768c8;
    text-align: center;
    cursor: pointer;
    width: 100px;
}

.button:hover {
    background-color: #a6b0b5;
}

