.set-width{
    min-width: 600px !important;
    max-width: 900px !important;
}
/*html{*/
    /*overflow: hidden !important;*/
/*}*/
.content-scroll{
    overflow-y: scroll !important;
    max-height: 83vh !important;
    min-height: 83vh !important;
    background: rgb(250,250,250);
}
.bar{
    max-height: 8vh !important;
    min-height: 8vh !important;
}
.center{
    align-content: center;
    text-align: center;
}
.body-size{
    background: rgb(243,243,243);
    margin: 0 auto;
    max-width: 768px;
}
